[vc_row type="in_container" bg_position="left top" bg_repeat="no-repeat" bg_color="#e8e8e8" scene_position="center" text_color="dark" text_align="left"][vc_column width="1/1"][vc_column_text]
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top" width="100%">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top" width="100%">
<div align="center">

&nbsp;
<table border="10" width="90%" cellspacing="5" cellpadding="5">
<tbody>
<tr>
<td align="center" bgcolor="#ffffff" width="100%">
<div align="center">

&nbsp;
<table style="height: 216px;" border="0" width="711" cellspacing="5" cellpadding="5">
<tbody>
<tr>
<td width="70%">
<h1 align="center"><span style="font-family: Tahoma;">JOHNAUGUST DAY</span></h1>
<h1 align="center"><big><span style="font-family: Tahoma; font-size: large;"><small>Mestradoem Negócios Internacionais (MBA)</small></span></big></h1>
<p align="center"><span style="font-family: Tahoma; font-size: xx-small;">Email</span><span style="font-family: Tahoma; font-size: small;"><b> : </b></span><a href="mailto:Tsuwamono@aol.com"><span style="font-family: Tahoma; font-size: small;"><b>Tsuwamono@aol.com</b></span></a></p>
<p align="center"></p>
</td>
<td align="center" width="30%"><img class="" style="border: 3px solid; width: 145px; height: 165px;" src="http://revstarhosting.org/face-cream/wp-content/uploads/2015/05/suave160.jpg" alt="John August Day" /></td>
</tr>
</tbody>
</table>
&nbsp;

</div>
<div align="center">
<table style="border: 1px solid #000000; height: 367px;" border="1" width="900" cellspacing="5" cellpadding="15">
<tbody>
<tr>
<td style="border: 1px solid #000;" align="center" width="25%"><span style="font-family: Tahoma; font-size: small;"><strong>Curriculum Vitae</strong></span></td>
<td style="border: 1px solid #000;" align="center" width="25%"><span style="font-family: Tahoma; font-size: small;"><strong>Formação</strong></span></td>
<td style="border: 1px solid #000;" align="center" width="25%"><span style="font-family: Tahoma; font-size: small;"><strong>Projetos</strong></span></td>
<td style="border: 1px solid #000;" align="center" width="25%"><span style="font-family: Tahoma; font-size: small;"><b>Dados Pessoais</b></span></td>
</tr>
<tr>
<td style="border: 1px solid #000;" valign="top" width="25%"><a href="#PROFILE"><span style="font-family: Tahoma; font-size: small;">Perfil</span></a>
<div>

<a href="#PROFESSIONAL%20EXPERIENCE">Experiência Profissional</a>

</div>
<a href="#COMPUTERS"><span style="font-family: Tahoma; font-size: small;">Informatica</span></a>
<div>

&nbsp;

</div>
<a href="#INTERESTS"><span style="font-family: Tahoma; font-size: small;">
</span></a></td>
<td style="border: 1px solid #000;" valign="top" width="25%"><a href="#DIPLOMAS/DEGREES"><span style="font-family: Tahoma; font-size: small;">Diploma</span></a><a href="#DIPLOMAS/DEGREES"><span style="font-family: Tahoma; font-size: small;">s</span></a>
<div>

<a href="#HONORS"><span style="font-family: Tahoma; font-size: small;">Atividades</span></a><a href="#L%CDNGUAS"><span style="font-family: Tahoma; font-size: small;">Idiomas</span></a>

</div></td>
<td style="border: 1px solid #000;" valign="top" width="25%"><a href="#WIDE"><span style="font-family: Tahoma; font-size: small;">Projeto WAN</span></a><a href="http://members.aol.com/tsuwamono/pt.htm#WIDE"><span style="font-family: Tahoma; font-size: small;">Projeto Análise Cluster</span></a><a href="http://members.aol.com/tsuwamono/pt.htm#WIDE"><span style="font-family: Tahoma; font-size: small;">Projeto Conselho Estratégico</span></a></td>
<td style="border: 1px solid #000;" valign="top" width="25"><a href="http://members.aol.com/tsuwamono/pt.htm#INTERESTS"><span style="font-family: Tahoma; font-size: small;">Interesses</span></a><a href="#IF"><span style="font-family: Tahoma; font-size: small;">Email</span></a></td>
</tr>
</tbody>
</table>
<span style="font-family: Tahoma; font-size: xx-large;"><strong>Curriculum Vitae</strong></span>

</div>
<div align="center">
<table style="border: 1px solid #000000; height: 2925px;" border="1" width="897" cellspacing="5" cellpadding="5">
<tbody>
<tr>
<td style="border: 1px solid #000;" valign="top" width="30%"><a name="PROFILE"></a><span style="font-family: Tahoma; font-size: large;"><strong>PERFIL</strong></span></td>
<td style="border: 1px solid #000;" align="center" valign="top" width="70%">
<div align="center">

&nbsp;
<table border="0" width="90%" cellspacing="5" cellpadding="5">
<tbody>
<tr>
<td width="100%">
<p align="left"><span style="font-family: Tahoma; font-size: small;">GERENTE NO COMÉRCIO INTERNACIONAL</span></p>
MBA Internacional com mais de nove anos de experiência
profissional na Europa e Asia. Especialização na
análise de marketing da decisão de compra do consumidor,
escolha de objetivos profitaveis, lealdade de marca, estratégias
de segmentação de mercado usadas para a
concepção e venda de um produto total e serviços
nas indústrias de saude e financeiras.

Solteiro, capaz de se mudar dentro dos Estados Unidos e/ou para paises
estrangeiros. Multilíngüe (inglês, japonês,
francês e português).

<span style="font-family: Tahoma; font-size: small;">Email: </span><a href="mailto:Tsuwamono@aol.com"><span style="font-family: Tahoma; font-size: small;">Tsuwamono@aol.com</span></a></td>
</tr>
</tbody>
</table>
&nbsp;

</div></td>
</tr>
<tr>
<td style="border: 1px solid #000;" valign="top"><a name="PROFESSIONAL EXPERIENCE"></a><span style="color: #000000; font-family: Tahoma; font-size: large;"><b>EXPERIÊNCIA PROFISSIONAL</b></span></td>
<td style="border: 1px solid #000;">
<p align="center"><span style="font-family: Tahoma; font-size: small;"><b>CENTRAL TEXAS COLLEGE
</b></span><a href="http://www.ctcd.edu/"><span style="font-family: Tahoma; font-size: small;">http://www.ctcd.edu</span></a><span style="font-family: Tahoma; font-size: small;">
KILLEEN, TEXAS, U.S.A
</span><i>Professor em Japonês,
</i><i> Negócios e Finanças </i>2007 -</p>

<ul>
	<li><span style="font-family: Tahoma; font-size: small;">Responsável por cursos de graduação em japonês, gestão e finanças cujos alunos são, principalmente no Exército dos EUA set implantação no exterior, no Japão, Bahrain, Chile, Panamá, Quênia e Cingapura </span></li>
	<li><span style="font-family: Tahoma; font-size: small;">Empregado por uma das três faculdades e universidades selecionadas pelo Exército dos EUA para oferecer cursos universitários no interior bases militares e navios militares americanos durante a sua implantação </span></li>
	<li><span style="font-family: Tahoma; font-size: small;">Recebido feedback muito positivo por parte dos alunos e da administração </span></li>
</ul>
<p style="text-align: center;" align="center"><span style="font-family: Tahoma; font-size: small;"><b>HORIBA ABX, S.A.
</b></span><a href="http://www.horiba.fr/"><span style="font-family: Tahoma; font-size: small;">http://www.horiba.fr
</span></a>MONTPELLIER, FRANÇA
<i>Analista Marketing
</i>2004 - 2006</p>

<ul>
	<li><span style="font-family: Tahoma; font-size: small;">Suporte para a
direção franco-japonesa de uma empresa mundial fabricante
de instrumentos médicos, nas estratégias de marketing de
decisão afim de maximizar a rentabilidade da empresa  </span></li>
	<li><span style="font-family: Tahoma; font-size: small;">Integração,
analise e interpretação das informações
internas e externas no que diz respeito ao mercado da saúde afim
de direcionar os serviços de pesquisa, desenvolvimento e vendas </span></li>
	<li><span style="font-family: Tahoma; font-size: small;">Planejamento e controle
das análises internas e externas para segmentar o mercado, afim
de compreender como clientes tomam decisões de compra</span></li>
	<li><span style="font-family: Tahoma; font-size: small;"><span style="font-family: Tahoma; font-size: small;">Relatorio diario com comunicação oral e escrita em inglês, francês e japonês</span></span>
<p style="text-align: center;" align="center"><span style="font-family: Tahoma; font-size: small;"><b>CHARLES SCHWAB &amp; CO., S.A.
</b></span><a href="http://www.schwab.com/"><span style="font-family: Tahoma; font-size: small;">http://www.schwab.com
</span></a><span style="font-style: italic;">Phoenix, AZ, U.S.A. -Tokio Marine Innovation Network Project Leader
</span><span style="font-style: italic;">Orlando,FL,U.S.A. -Global Client Services Investment Advisor
</span>2000 - 2004</p>
</li>
	<li><span style="font-family: Tahoma; font-size: small;">Concepção  de um novo sistema de controle para facilitar as
operações e minimizar as falhas de introdução por teclado, quando da  elaboração das documentações legais e conformidade  </span></li>
	<li><span style="font-family: Tahoma; font-size: small;">Co-direção de um projeto de inovação da Schwab Tokio Marine para otimizar o esquema de negócios japonês</span></li>
	<li><span style="font-family: Tahoma; font-size: small;"><span style="font-family: Tahoma; font-size: small;">Responsável pelas operações, trocas de títulos e conselho para os clientes em língua inglesa, francesa, portuguesa e japonesa</span></span></li>
	<li><span style="font-family: Tahoma; font-size: small;"><span style="font-family: Tahoma; font-size: small;">Titulado em Series 7 e 63 com certificações adicionais em análises financeiras e bolsistas</span></span></li>
</ul>
<p style="text-align: center;" align="center"><span style="font-family: Tahoma; font-size: small;"><b>YAGAMI SEISAKUSHO, S.A.
</b></span><a href="http://www.yagami.co.jp/"><span style="font-family: Tahoma; font-size: small;">http://www.yagami.co.jp/</span></a><span style="font-family: Tahoma; font-size: small;"> (Japonês)
</span>NAGOYA, AICHI, JAPÃO
<span style="font-style: italic;">Consultor emGestão (Estágio)
</span>Julho 1998 - Dezembro 1998</p>

<ul>
	<li><span style="font-family: Tahoma; font-size: small;">Analise dos dados de fornecimento de uma empresa médio-porte, especializada em instrumentos médicos  </span><span style="font-family: Tahoma; font-size: small;">Avaliação
das operações de distribuição do fornecedor médico de equipamentos no Japão afim de otimizar a eficiência do tempo e reduzir custos </span></li>
	<li><span style="font-family: Tahoma; font-size: small;">Suporte para apresentar  e implantar um "software" de inventário de material parab facilitar a troca das informações com os distribuidores
</span></li>
</ul>
<p style="text-align: center;" align="center"><span style="font-family: Tahoma; font-size: small;"><b>PREFEITURA DE SHIROISHI
</b></span><a href="http://www.city.shiroishi.miyagi.jp/"><span style="font-family: Tahoma; font-size: small;">http://www.city.shiroishi.miyagi.jp/
</span></a><span style="font-family: Tahoma; font-size: small;">SHIROISHI, MIYAGI, JAPÃO
</span><i>Coordenador de Relações Internacionais
</i>Setembro 1993 – Agosto 1996</p>

<ul>
	<li><span style="font-family: Tahoma; font-size: small;">Gerenciamento de todas as operações internacionais relacionadas ao turismo, comércio, atletismo e intercâmbio intercultural da cidade</span></li>
	<li><span style="font-family: Tahoma; font-size: small;">Desenvolvimento dos projetos de publicidade, como anúncios transmitidos nas redes de internet bilíngües nacionais</span></li>
	<li><span style="font-family: Tahoma; font-size: small;">Criação e tradução de varios dados históricos e culturais
para os livros publicados, literatura informacional</span></li>
	<li><span style="font-family: Tahoma; font-size: small;">Estabelecimento  de uma associação, cidades-gêmeas, com a cidade de
Hurstville na Australia e administração de vários
programas de intercâmbio cultural, esportivo e comercial</span></li>
</ul>
<p style="text-align: center;" align="center"><span style="font-family: Tahoma; font-size: small;"><b>DIRETORIA DE EDUCAÇÃO DE JAPÃO
</b></span><a href="http://www.mofa.go.jp/j_info/visit/jet/outline.html"><span style="font-family: Tahoma; font-size: small;">http://www.mofa.go.jp/j_info/visit/jet/outline.html
</span></a><span style="font-family: Tahoma; font-size: small;"><b>TOKYO/MIYAGI, JAPÃO
</b></span><i>Participante do Programa JET
</i>Agosto 1990 – Julho 1993</p>

<ul>
	<li><span style="font-family: Tahoma; font-size: small;">Ajuda aos professores de inglês da Prefeitura de Miyagi na elaboração de cursos e preparação de programas de estudos</span></li>
	<li><span style="font-family: Tahoma; font-size: small;">Apresentação de seminários para professores japonêses e
preparação de currículos acadêmicos</span></li>
</ul>
</td>
</tr>
<tr>
<td style="border: 1px solid #000;" valign="top"><a name="LÍNGUAS"></a><span style="color: #000000; font-family: Tahoma; font-size: large;"><b>IDIOMAS</b></span></td>
<td style="border: 1px solid #000;" align="center">
<div align="center">

&nbsp;
<table style="border: 1px solid #000;" border="1" width="90%" cellspacing="5" cellpadding="5">
<tbody>
<tr>
<td style="border: 1px solid #000;" align="center" width="25%"><span style="font-family: Tahoma; font-size: small;"><span style="font-family: Tahoma; font-size: small;"><strong>Inglês</strong></span></span>(<span style="font-family: Tahoma; font-size: xx-small;"><i>Língua Materna</i></span><span style="font-family: Tahoma; font-size: small;">)</span></td>
<td style="border: 1px solid #000;" align="center" width="25%"><span style="font-family: Tahoma; font-size: small;"><span style="font-family: Tahoma; font-size: small;"><strong>Japonês</strong></span></span>(<span style="font-family: Tahoma; font-size: xx-small;"><i>Bom nivel</i></span><span style="font-family: Tahoma; font-size: small;">)</span></td>
<td style="border: 1px solid #000;" align="center" width="25%"><span style="font-family: Tahoma; font-size: small;"><span style="font-family: Tahoma; font-size: small;"><strong>Francês</strong></span></span><span style="font-family: Tahoma; font-size: small;">(</span><span style="font-family: Tahoma; font-size: xx-small;"><i>Bom nivel</i></span><span style="font-family: Tahoma; font-size: small;">)</span></td>
<td style="border: 1px solid #000;" align="center" width="25%"><span style="font-family: Tahoma; font-size: small;"><span style="font-family: Tahoma; font-size: small;"><strong>Português</strong></span></span>(<span style="font-family: Tahoma; font-size: xx-small;"><i>Básico</i></span><span style="font-family: Tahoma; font-size: small;">)</span></td>
</tr>
</tbody>
</table>
&nbsp;

</div></td>
</tr>
<tr>
<td style="border: 1px solid #000;" valign="top"><a name="COMPUTERS"></a>
<span style="color: #000000; font-family: Tahoma; font-size: large;"><b>INFORMATICA</b></span></td>
<td style="border: 1px solid #000;" align="center"><span style="font-family: Tahoma; font-size: small;">Microsoft
Office (versões inglêsa e japonêsa) / Microsoft Project / HTML / SPSS para Windows</span></td>
</tr>
<tr>
<td style="border: 1px solid #000;" valign="top"><a name="INTERESTS"></a><span style="color: #000000; font-family: Tahoma; font-size: large;"><b>INTERESSES</b></span></td>
<td style="border: 1px solid #000;" align="center"><span style="font-family: Tahoma; font-size: small;">Natação,esportes de montanha, raquetball, saxofone, piano</span></td>
</tr>
</tbody>
</table>
</div>
<p align="right"><a href="#TOP"><span style="font-family: Tahoma; font-size: xx-small;">Voltar ao topo</span></a></p>


<hr />
<p align="center"><span style="color: #000000; font-family: Tahoma; font-size: large;"><b>FORMAÇÃO</b></span></p>

<div align="center">
<table style="border: 1px solid #000000; height: 692px;" border="1" width="900" cellspacing="5" cellpadding="5">
<tbody>
<tr>
<td style="border: 1px solid #000;" valign="top" width="30%"><a name="DIPLOMAS/DEGREES"></a><span style="color: #000000; font-family: Tahoma; font-size: large;"><b>DIPLOMAS</b></span></td>
<td style="border: 1px solid #000;" width="70%">
<p align="center"><a href="http://mooreschool.sc.edu/moore/imba/"><img class="aligncenter" style="border: 0px solid; width: 463px; height: 90px;" src="http://revstarhosting.org/face-cream/wp-content/uploads/2015/05/mooreshort.gif" alt="Moore School of Business" /></a></p>
<p style="text-align: center;" align="center"><span style="font-family: Tahoma; font-size: small;"><b>MESTRADO EM NEGÓCIOS INTERNACIONAIS (MBA) - </b>Universidade da Carolina do Sul
</span><a href="http://mooreschool.sc.edu/moore/imba/"><span style="font-family: Tahoma; font-size: small;">University of South Carolina - Darla Moore School of Business, Columbia, SC.
</span></a><span style="font-family: Tahoma; font-size: small;">Maio 1999
</span><span style="font-family: Tahoma; font-size: xx-small;"><i>Oprograma de mestrado em negócios internacionais da Universidade
da Carolina do Sul estão posicionadas como numero um ou numero
dois ha oito anos consecutivos pela revista </i></span><a href="http://mooreschool.sc.edu/moore/pr/rankings/usnews_grad.htm"><span style="font-family: Tahoma; font-size: xx-small;"><i>US News and World Report</i></span></a><span style="font-family: Tahoma; font-size: xx-small;"><i> (1990-2007).</i></span></p>
<p style="text-align: center;" align="center"><span style="font-family: Tahoma; font-size: small;"><a href="http://www.unc.edu"><img style="border: 0px solid; width: 418px; height: 84px;" src="http://revstarhosting.org/face-cream/wp-content/uploads/2015/05/UNC-CH.gif" alt="University of North Carolina" /></a></span></p>
<p style="text-align: center;"><b>BACHAREL EM LETRAS - ECONOMIA</b></p>
<p style="text-align: center;">Universidade da Carolina do Norte em Chapel Hill, Chapel Hill, NC. Junho 1989.</p>
<p style="text-align: center;"><i>Cursos Intensivos de Japonês e Francês.</i></p>
</td>
</tr>
<tr>
<td style="border: 1px solid #000;" valign="top" width="30%"><a name="HONORS"></a>
<span style="color: #000000; font-family: Tahoma; font-size: large;"><b>ATIVIDADES</b></span></td>
<td style="border: 1px solid #000;" width="70%"><span style="font-family: Tahoma; font-size: small;"><span style="font-family: Tahoma; font-size: small;">Certificado de
Proficiência na Língua Japonesa, Associação
de Educação Internacional</span></span>Isenção da requisição da lingua japonesa
estrangeira por USC-MIBSRepresentante japonês da MIBSAliança Francesa de Sendai, Japão Bolsista, Universidade da Carolina do Sul</td>
</tr>
</tbody>
</table>
</div></td>
</tr>
</tbody>
</table>
</div></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
&nbsp;
<p style="text-align: center;"><span style="font-family: Tahoma; font-size: xx-large;"><strong>Projetos</strong></span></p>

<div align="center">
<table style="border: 1px solid #000000; height: 701px;" border="1" width="900" cellspacing="5" cellpadding="5">
<tbody>
<tr>
<td style="border: 1px solid #000;" valign="top" width="30%"><a name="WIDE"></a><span style="font-family: Tahoma; font-size: large;"><strong>Projeto WAN</strong></span></td>
<td style="border: 1px solid #000;" width="70%"><span style="color: #000000; font-family: Tahoma; font-size: small;"><strong>Janeiro de 1999 -<span style="font-weight: normal;"> Trabalho com um grupo de
consultores em tecnologia de informática da Universidade da
Carolina do Sul para MIBS para conceber uma rede à amplo
domínio (WAN) para uma empresa distribuidora de peças
destacadas na Carolina do Sul. Projeto realizado para implementar um
plano de rede, orçamento e instruções. A rede liga
a sede central com todas as sucursais e permite um acesso em tempo real
com as informações do inventário </span></strong></span></td>
</tr>
<tr>
<td style="vertical-align: top; border: 1px solid #000;"><a name="WIDE"></a><span style="font-family: Tahoma; font-size: large;"><span style="font-family: Tahoma; font-size: large;"><strong>Projeto de análise cluster</strong></span></span></td>
<td style="vertical-align: top; font-family: Tahoma; border: 1px solid #000;"><small><small>Projeto
de análise cluster - trabalho com "USC-MIBS Marketing Consulting
Team" para analizar os dados e proposição de
soluções marketing para os serviços telecom
locais. O projeto incluiu a identificação de diferentes
grupos de consumidores, incluindo as informações
relativas à demografia e às suas referências
respectivas. Consultoria em estratégia sobre a
seleção de novos clientes.</small></small></td>
</tr>
<tr>
<td style="vertical-align: top; border: 1px solid #000;"><a name="WIDE"></a><span style="font-family: Tahoma; font-size: large;"><strong>Projeto em consultoria
estratégica</strong></span></td>
<td style="vertical-align: top; font-family: Tahoma; border: 1px solid #000;"><small><small>Projeto
em consultoria estratégica - Trabalho efetuado com "Equipe de
Gestão de Sistemas de Informação USC-MIBS" para
oferecer serviços de consultoria estratégica aos
departamentos maquinarios da empresa. O projeto incluiu uma
avaliação compreensiva dos processos de negócios
internos, dos desempenhos industriais previstos e viáveis, bem
como a proposição de soluções
estratégicas para otimizar o potencial da companhia e aumentar
os lucros dos acionistas.</small></small></td>
</tr>
</tbody>
</table>
</div>
<p align="center"><span style="font-family: Tahoma; font-size: xx-large;"><strong>Informação</strong></span></p>

<div align="center">
<table style="border: 1px solid #000000; height: 184px;" border="1" width="893" cellspacing="5" cellpadding="5">
<tbody>
<tr>
<td style="border: 1px solid #000;" width="100%"><a name="IF"></a><span style="font-family: Tahoma; font-size: medium;"><strong>Para informações adicionais à respeito de:</strong></span><a name="IF"></a>
<blockquote>
<ul>
	<li><span style="color: #000000; font-family: Tahoma; font-size: small;"><em>Outras oportunidades de emprego</em></span><em>
</em></li>
	<li><span style="color: #000000; font-family: Tahoma; font-size: small;"><em>Consultoria em oportunidades de negocios no Japão</em></span></li>
</ul>
<span style="font-family: Tahoma; font-size: medium;"><strong>E-mail  para </strong></span><a href="mailto:Tsuwamono@aol.com"><span style="font-family: Tahoma; font-size: medium;"><strong>Tsuwamono@aol.com</strong></span></a></blockquote>
</td>
</tr>
</tbody>
</table>
<span style="color: #000000; font-family: Tahoma; font-size: medium;"><strong><img src="http://revstarhosting.org/face-cream/wp-content/uploads/2015/05/BUTredglow.gif" alt="" width="10" height="10" /> </strong></span><span style="color: #ff0080; font-family: Tahoma; font-size: large;"><em><strong>Video-conferencing disponivel </strong></em></span><span style="color: #000000; font-family: Tahoma; font-size: medium;"><strong><img src="http://revstarhosting.org/face-cream/wp-content/uploads/2015/05/BUTredglow.gif" alt="" width="10" height="10" /></strong></span>

</div>
[/vc_column_text][/vc_column][/vc_row]