/*
Theme Name: Salient Child Theme
Theme URI: http: //mysite.com/
Description: This is a custom child theme for Salient
Author: My Name
Author URI: http: //mysite.com/
Template: salient
Version: 0.1
*/

@import url("../salient/style.css");
div#header-secondary-outer {
position: absolute;
}
div#header-outer {
/*padding: 0px!important;*/
position: absolute;
background-size: contain;
background: url(http://fibermill.net/fabric/wp-content/uploads/2015/04/bg_navi.png) left 6px bottom 0px no-repeat;
}
header#top .col.span_3 {
margin: 28px 0px 0px 30px!important;
}
div#boxed, div#boxed div#header-outer, div#boxed div#header-secondary-outer, div#boxed div#page-header-bg[data-parallax="1"], div#boxed div#featured, div#boxed .orbit > div, div#boxed #featured article, .ascend div#boxed div#search-outer {
max-width: 1400px!important;
width: 1012px!important;
min-width: 998px;
}
div#header-outer .row .col.span_9 {
float: left;
}
.row div#sidebar {
background: url(http://fibermill.net/fabric/wp-content/uploads/2015/04/roll.png) no-repeat;
margin-top: -38px !important;
min-height: 800px;
position: absolute;
padding: 17px;
width: 100%;
}
ul.product-categories li.cat-item ,.woocommerce #sidebar div ul li{
list-style-type: disc !important;
font-weight: bolder !important;
color: #fff;
line-height: 1.5!important;
}
#sidebar div ul li.cat-item {
padding: 0px 0px 0px 0px!important;
margin: 0px 0px 0px 25px!important;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400!important;
}
ul.product-categories li.cat-item a{
color: #fff;
}
div.col.span_9.col_last{
margin: -31px 14px 0px 0px!important;
padding: 0px 0px 0px 0px!important;
}
div#ajax-content-wrap, div.container-wrap, div.project-title {
min-height: 853px;
}

div#text-5 {
width: 145px;
};
div.ami_set_fooer {
width: 75%;
float: right;
padding: 1px 0px 2px 0px;
margin-top: -263px;
background: url('http://fibermill.net/fabric/wp-content/uploads/2015/04/bg_headline.png') left top repeat-x;
}
div#footer_set span{
float: left;
/*width: 28%;*/
font-size: 11px;
margin-left: 10px;
margin-top: 1px;
}
#footer-outer .widget {
margin: -4px 0px 0px 0px!important;
}
div#footer_set span a {
text-decoration: underline;
color: #fff;
}

div.SEt_overflow-y {
padding: 9px!important;
/* padding-bottom: 0px; */
overflow-y: scroll;
max-height: 410px;
border: 1px solid #898989;
background-color: #EAEAEA!important;
z-index: 99;
}
.call {
width: 213px;
float: left;
/* text-align: left; */
font-size: 15px;
/* margin-left: 133px; */
/* margin-bottom: -50px; */
color: #171742;
/* position: relative; */
/* top: 27px; */
}
.cart {
/* width: 893px; */
font-size: 14px;
text-align: right;
/* position: relative; */
/* top: 52px; */
}
.cart a {
  color: #666699;
}
div.container, 
div#portfolio {
width: 964px!important;
}
div.container {
max-width: 964px!important;
}
input.wpcf7-form-control.wpcf7-text {
margin: 5px 30px 5px 30px!important;
padding: 1px!important;
width: 210px;
}
.ami_css{
padding: 8px 0px 0px 5px;
background-color: #9C9CBC;
border-bottom: 3px solid #fff;
font-size: 14px;
color: #fff;
text-align: left;
display: table;
width: 100%;

}
.ami_set_c7 {
float: left;
width: 105px;
margin: 0px 9px 0px 9px;
}
.ami_set_c7 {
float: left;
width: 105px;
margin: 10px 10px 10px 10px;
}
textarea#areaDesc {
width: 209px;
height: 76px;
margin: 0px 15px 0px 32px;
background: #fff!important;
border: 1px solid #7E7E7E!important;
}
.ami_set_c7_b {
float: right;
width: 338px;
margin: 3px 0px 0px 0px;
}
div#wpcf7-f3159-p3151-o1{
}
.row_amik {
margin-bottom: 26px!important;
padding-bottom: 40px!important;
background-color: #d3d3d3;
display: table;
}
input.wpcf7-form-control.wpcf7-text{
background: #fff!important;
border: 1px solid #7E7E7E!important;
}
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.ami_phon ,
input#ami_phon ,
input.wpcf7-form-control.wpcf7-text.ami_phon ,
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required ,
input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email ,
input.wpcf7-form-control.wpcf7-text.ami_phon3 {
background: #fff!important;
border: 1px solid #B0B0B0!important;
height: 1px!important;
padding: 10px!important;
}
span.wpcf7-not-valid-tip {
width: 208px;
margin: -11px 0px -10px 139px;
background: #D3D3D3;
}
.ami_css1 {
padding: 6px 40px 7px 42px;
background-color: #9C9CBC;
border-bottom: 3px solid #fff;
font-size: 14px;
color: #fff;
text-align: left;
display: table;
width: 100%;
}

.row_ami1 {
margin-bottom: 17px!important;
padding: 14px 7px 17px 22px!important;
background-color: #d3d3d3;
display: table;
width: 100%;
height: auto;
}
.vc_span8.set_contect_am11.wpb_column.column_container.col.no-extra-padding {
margin-right: -27px!important;
}
.vc_span4.set_contect_am12.wpb_column.column_container.col.no-extra-padding {
margin: 0px;
}
input.wpcf7-form-control.wpcf7-submit {
background: #FF0505;
/* font-size: 30px; */
color: #fff;
border-radius: 52px !important;
width: 102px;
margin: 3px 0px 0px 33px;
}
.ami_setTh{
background-color: #9c9cbc;
color: #fff;
font-family: "Arial Black", Gadget, sans-serif;
font-size: 14px;
text-align: center;
padding-top: 31px;
}
.woof_container.woof_container_0.woof_container_producttags {
width: 147px;
}
.product-wrap {

}
.woocommerce-tabs {
display: none;
}
.related.products {
display: none;
}
.woof_auto_show {
display: none!important;
}
li#menu-item-3055 {
position: absolute;
margin: 111px 0px 0px 12px;
}
li#menu-item-3243 {
position: absolute;
margin: 111px 0px 0px 108px ;
}
li#menu-item-3089 {
position: absolute;
margin: 111px 0px 0px 321px;
}
li#menu-item-3135 {
position: absolute;
margin: 111px 0px 0px 494px;
}
li#menu-item-3182 {
position: absolute;
margin: 111px 0px 0px 617px;
}
ul.sf-menu.sf-js-enabled.sf-arrows li.menu-item{

}
li#menu-item-3055 a ,li#menu-item-3243 a, li#menu-item-3089 a,li#menu-item-3135 a,li#menu-item-3182 a{
}
header#top nav > ul > li > a {
font-family: fantasy!important;
padding: 62px 0px 0px 0px !important;
}
header#top .sf-menu li ul li a{
line-height: 0px!important;
}
li.menu-item ul.sub-menu {
top: 105px!important;
text-align: center;
}
.woocommerce-page #sidebar div ul li {
line-height: 8px!important;
}
.cart-icon-wrap {
/*margin: -34px 6px 0px 0px!important;*/
/* background: #030303; */
/* opacity: 0.5; */
}
.cart-wrap {
margin: -8px 47px 0px 0px!important;
}
div.widget.woocommerce.widget_product_categories h4, div.widget.widget_text h4{
color: #fff!important;
}
h1.page-title {
/* color: #252588; */
font-size: 18px;
color: #666699;
font-family: "Arial Black", Gadget, sans-serif;
/* font-family: fantasy; */
/* letter-spacing: 0px; */
}
.woocommerce div.product {
margin-bottom: 0;
position: relative;
padding: 9px;
background: #EAEAEA;
border: 1px solid;
}
.ami_stftr {
width: 77%!important;
float: right;
padding: 5px;
background: url('http://fibermill.net/fabric/wp-content/uploads/2015/04/bg_headline.png') repeat-x;
top:-243px;
}
.ami_setfotr{
float: left;color: #fff;font-size: 12px;margin-left: 23px;margin-top: 2px;margin-bottom: -4px;
}
.woof_checkbox_instock_container {
display: none;
}
div.container-wrap {
  background-color: #fff!important;
}
div#header-space {
  background-color: #fff!important;
}
table.mycart > caption, th, td {
  font-weight: normal;
  text-align: left;
  color: #000;
}
 body.woocommerce-page .span_9 ul.products li.product {
width: 18%!important;
margin-right: 2%!important;
margin-bottom: 2%;
}
div#boxed {
margin-top: -20px;
}
/* 11 -may 2015 */
p.woocommerce-result-count {
margin: -18px 0px -18px 0px!important;
display: none;
}
form.woocommerce-ordering {
display: none;
}
form.form-wppp-select.products-per-page {
display: none;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
height: 1px!important;
}